<div class="container mt-3">

  <div class="card flat-card">
    <img src="" class="card-img-top" alt="">
    <div class="card-body">
      <h5 class="card-title"><%= @flat.name %></h5>
      <p class="card-text"><%= @flat.description %></p>
    </div>
  </div>

</div>
