.form-container {
  display: flex;
  margin: 5rem auto;
  justify-content: center;
  width: 60%;
  padding: 1rem;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 8px;
  color: #143642;

  label {
    font-weight: bold;
  }
}

.form-width {
  width: 100%;
}
